[project]
name = "{{ project_name }}"
version = "{{ package_version }}"
description = "{{ package_description }}"
authors = [
    { name = "Ultrasonic1209", email = "ultra@ultras-playroom.xyz" },
]
requires-python = ">=3.11"
readme = "README.md"
dependencies = [
    "httpx2>=2.4.0,<3",
    "attrs>=22.2.0",
    "httpx-retries==0.5.0",
    "httpx-limiter[pyrate]==0.6.1",
]

[[tool.uv.dependency-metadata]]
name = "httpx-retries"
requires-dist = ["httpx2>=2.4.0,<3"]

[[tool.uv.dependency-metadata]]
name = "httpx-limiter"
requires-dist = ["httpx2>=2.4.0,<3", "pyrate-limiter ~=4.0"]
provides-extra = ["pyrate"]

[project.optional-dependencies]
speed = [
    "httpx2[brotli,http2,zstd]>=2.4.0,<3",
]

[tool.uv.build-backend]
module-name = "roblox_open_cloud_openapi"
module-root = ""

[build-system]
requires = ["uv_build>=0.11.0,<0.12.0"]
build-backend = "uv_build"

[tool.uv]
required-version = "~=0.11.21"

[tool.uv.sources]
openapi-python-client = { git = "https://github.com/Ultrasonic1209/openapi-python-client.git", rev = "b28443882086cffdff13ee9ec71f115795a1d389" }

[dependency-groups]
dev = [
    "openapi-python-client",
]
